body {
    font-family: Georgia;
}

.editor-card {
    max-width: inherit;
    width: 70%;
}

li {
    padding-left:10px;
}
.biglist li {
    margin-bottom:16px;
}
.home1 {
    padding-left:24px;
}
.home1 ul{
    padding-left:18px;
    list-style-type: disc;
    margin-bottom:16px;
}
.text-blue {
    color:blue;
}
.text-red {
    color:red;
    font-style: italic;
}
.text-red1 {
    color:red;
}
.text-bold {
    color:black;
    text-decoration: underline;
}
.text-hl {
    background-color:yellow;
}

header {
    background-color: #FBE9C5;
}

.footer-content-sponsor {
    background-color: #FBE9C5; color:#8F0B07;
}